<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<% @list.movies.each do |m| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: m) %>
  <div>
    <%= image_tag m.poster_url, alt: "poster image #{m.title}", width: 200 %>
    <%= m.title %>
    <%= "#{m.rating} ⭐️" %>
    <%= bookmark.comment %>
    <%= bookmark.id %>
    <%= link_to "delete", bookmark_path(bookmark),
               method: :delete,
               data: { confirm: "Are you sure you want to remove #{m.title} from your #{@list.name} list"} %>
  </div>
<% end %>
<%= link_to "Back to my lists", lists_path %>
